<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A|E CODE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

</head>
<body>
<div class="container-fluid">
<nav>
  <ul>
    <li><strong>AE | Code</strong></li>
  </ul>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#"></a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
    </div>

<section>

</body>
</html>